<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/Redmond/jquery-ui.css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

    <title>jQuery Ajax call</title>
    <script>

    </script>
    <body>

    <p>Welcome to the {{title}} demo</p>

    <h3>Users</h3>
    <ul>
        {{#each users }}
          <li>{{this.name}}</li>
        {{/each}}
    </ul>
      
    <h2>List of customer types:</h2>


    <div>
      {{#each languages}}
        <p>{{@index}}. {{this}}</p>
      {{/each}}
    </div>

  </body>
</html>